
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8rem;
    z-index: 10;
    /* background: linear-gradient(to bottom, #007fff 10%,#007fff 100%); */
    background-color: #007fff;
    transition: min-height 0.5s ease;
    top: 0;

}

.navbar-links{
    display: flex;
    justify-content: space-around;
    list-style: none;

}
.navbar-links li{
    text-align: center;
    border: 1px solid white;
    padding: 10px;
    list-style-type: none;
    text-decoration: none;
    color: white;
    margin: 0.5rem;
    height: 1.5rem;
    width: 8rem;
    cursor: pointer;
    transition: 0.4s;
    
}
.navbar-links li:hover{
    background-color: rgba(255, 255, 255, 0.315);
    transition: 0.4s;

}

.navbar-links a{
    text-decoration: none;
    list-style: none;
    color: white;
    justify-content: center;
    align-items: center;

}

.on-change-transition{
    /* background: linear-gradient(to top, rgba(0, 128, 255, 0) 10%,#007fff 30%); */
    background-color: #007fff;
    min-height: 3rem;
    transition: min-height 1s ease;
    font-size: 80%;
    justify-content: space-around;
    align-items: center;

}

.on-changed-navbar li{
    padding: 6px 4px 4px 4px;

}

.on-change-logo [id='hotel-logo']{
    width: 5rem;
    height: 3rem;
    transition: height 0.5s ease;

}

.logo{
    width: 9rem;
    height: 5.5rem;
    transition: min-height 1s ease;

} 

.sticky{
    position: sticky;
    top: 0;
    width: 100%;
}


@media only screen and (max-width: 1150px){
        .navbar-links li {
            padding: 8px;

        }
}

@media only screen and (max-width: 1040px){
    .navbar-links li {
        display: inline-block;
        padding: 5px;
    }

    .navbar-links ul {
        vertical-align: middle;
    }
}