
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8rem;
    z-index: 10;
    background: linear-gradient(to bottom, #007fff 10%,#007fff 100%);

}

.navbar-links{
    display: flex;
    justify-content: space-around;
    list-style: none;

}
.navbar-links li{
    text-align: center;
    border: 1px solid white;
    padding: 10px;
    list-style-type: none;
    text-decoration: none;
    color: white;
    margin: 0.5rem;
    height: 1.5rem;
    width: 8rem;
    cursor: pointer;
    
}

.navbar-links a{
    text-decoration: none;
    list-style: none;
    color: white;
    justify-content: center;
    align-items: center;

}

.navbar-links li:hover{
    background-color: rgba(255, 255, 255, 0.315);
}



.logo{
    width: 9rem;
    height: 5.5rem;
} 

.sticky{
    position: sticky;
    top: 0;
    width: 100%;
}


@media only screen and (max-width: 1150px){
        .navbar-links li {
            padding: 8px;

        }
}

@media only screen and (max-width: 1040px){
    .navbar-links li {
        display: inline-block;
        padding: 5px;
    }

    .navbar-links ul {
        vertical-align: middle;
    }
}